/* Reset CSS*/

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonctions générales */

nav {
    margin-bottom: 1em;
    margin-top: 14px;
}

h1, h2, h3, p, a {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #252525;
    text-decoration: none;
}

section {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.fa-solid {
    color: #0065FC;
}

.fa-location-dot {
    color: black;
}

/* Entête du site */

.entete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1em;
    margin-bottom: 3em;
}

.logo {
    width: 35%;
    height: 35%;
    margin-top: 34px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.liensMenu {
    padding-right: 1em;
}

.liensMenu a {
    padding-top: 15px;
    font-size: 18px;
}

/* Section recherche */

.menuRecherche {
    margin: 2em;
    
}

.recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1em;
}

.filtre {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
}

.infoTexte {
    font-size: large;
}

 /* Barre de recherche avec saisie de texte */

 input[type="text"] {
    margin: 1em;
    border: none;
    width: 332px;
    height: 30px;
}

/* Apparence des boutons */
  
.buttonSearch[type="submit"]{
    margin: 8px;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 0 15px 15px 0;
    height: 45px;
    width: 125px;
    cursor: pointer;
}

.buttonFiltre{
    margin: 1.5em;
    background-color: white;
    font-size: 1em;
    font-weight: 700;
    border: 2px solid #D9D9D9;
    border-radius: 20px 20px 20px 20px;
    width: 250px;
    height: 50px;
    cursor: pointer;
}

.buttonInfo{
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 1em;
}

/* Comportement des boutons au survol */

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

button:hover {
    background-color: #DEEBFF;
    border: 1px solid #0065FC;
}

.buttonSearch:hover {
    background-color: white;
    color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
}

/* Contenu principal */

.contenuPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Gestion de la partie Hébergements */

.grid-hebergement {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    gap: 50px;
  }

.cardHebergement {
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 20px 20px 20px 20px;
    width: 320px;
    height: 280px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.50);
    overflow: hidden;
}

.cardImageHebergement {
    flex: 1;
    display: flex;
    align-items: center;
}

.cardImageHebergement img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 185px;
    width: 310px;
    margin: 5px;
}

.texteCardHebergement {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1em;
}

.afficherPlus {
    font-size: large;
    margin-bottom: 35px;
}

/* Gestion de la partie "Les plus populaires" */

.populaire {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cardPopulaire {
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 20px 20px 20px 20px;
    width: 400px;
    height: 220px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.50);
    margin-bottom: 15px;
  }
  
.cardImagePopulaire {
    flex: 1;
    display: flex;
    align-items: center;
}
  
.cardImagePopulaire img {
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    height: 210px;
    width: 182px;
    margin: 5px;
}
  
.cardContentPopulaire {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Gestion de la partie Activité */

.flexActivités {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
}

.imgActivités {
    width: 300px;
    height: 400px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    margin: 20px;
}

figcaption {
    padding-left: 30px;
    margin-bottom: 2em;
    font-weight: 700;
}

/* Pied de page */

.pdp {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 50px;
}

.cardFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8em;
    padding-left: 4em;
}

.cardFooter {
    padding: 25px;
}

.cardFooter a {
    padding: 7px;
}

/* Adaptation pour desktop */

@media (max-width: 1400px) {
    body {
        max-width: 1400px;
    }
}

/* Adaptation pour les tablette */

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        margin: 0;
    }

    section {
        margin: 10px;
    }
}

/* Adaptation pour smartphone */

@media (max-width: 767px) {

    /* Général */

    

    section {
        margin: auto;
    }

    /* Entête */

    .entete {
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
        margin-left: 0;
    }

    .logo {
        width: 50%;
        height: 50%;
        margin-bottom: 10px;
    }

    .liensMenu {
        font-size: larger;
        font-weight: 700;
    }


    nav a:hover {
        color: #0065FC;
        border-top: 0;
        border-bottom: 2px solid #0065FC;
    }

    

    /* Partie recherche */
    section .menuRecherche {
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
    }
    

    .recherche {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type="text"] {
        width: 150px;
    }

    button.buttonSearch[type="submit"] {
        width: 75px;
        height: 40px;
        font-size: 10px;
    }

    .filtre {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        align-items: baseline;
    }

    .containerFiltre {
        display: flex;
        justify-content: center;
    }

    .filtres {
        display: grid;
        grid-template-columns: 160px 160px;
        grid-template-rows: 40px;
        gap: 15px;
    }

    .buttonFiltre {
        width: 170px;
        font-size: 12px;
        margin-left: 0;
        margin-top: 10px;
    }

    /* Contenu principal */

    .contenuPrincipal {
        flex-direction: column-reverse;
    }

    /* Partie populaire */

    .cardPopulaireFlex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardPopulaire {
        width: 335px;
        height: 199px;
    }

    .cardImagePopulaire img {
        width: 160px;
        height: 190px;
    }

    /* Partie hébergement */

    .grid-hebergement {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardHebergement {
        width: 335px;
        height: 199px;
    }

    .cardImageHebergement img {
        width: 330px;
        height: 100px;
    }

    /* Partie Activité */

    .flexActivités {
        flex-direction: column;
        align-items: center;
    }

    /* Pied de page */

    .pdp {
        flex-direction: column;
    }

    .cardFooter {
        margin: 0;
        margin-bottom: 15px;
    }
}