* {
    font-family: 'Raleway', sans-serif;
    color: #252525;
}

body {
    padding-right: 2em;
}

h1 {
    margin-bottom: 1em;
}

h2, p {
    margin: 0;
}

.fa-solid {
    color: #0065FC;
}

.fa-location-dot {
    color: black;
}

/* Entête du site */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav, a {
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.logo {
    width: 40%;
    height: 40%;
    margin: 1em;
}

section {
    margin-left: 3em;
    padding: 1em;
}

/* Section recherche */

#menu {
    margin-left: 0px;
    padding: 0px;
}

#recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1em;
}

#filtres {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

 /* Barre de recherche avec saisie de texte */

 input[type="text"] {
    margin-left: 1em;
    padding: 8px 10px;
    font-weight: 700;
    border: none;
    width: 332px;
    height: 49px;
    margin-right: 10px;
}

/* Apparence des boutons */
  
.buttonSearch[type="submit"]{
    padding: 8px 10px;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 0px 15px 15px 0px;
    height: 65px;
    cursor: pointer;
}

.buttonFiltre{
    margin: 1.5em;
    padding: 8px 20px;
    background-color: white;
    font-size: 1em;
    font-weight: 700;
    border: 1px solid #D9D9D9;
    border-radius: 20px 20px 20px 20px;
    width: 250px;
    height: 50px;
    cursor: pointer;
}

.buttonInfo{
    padding: 8px 20px;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}

/* Comportement des boutons au survol */

button:hover {
    background-color: #DEEBFF;
    border: 1px solid #0065FC;
}

.buttonSearch:hover {
    background-color: white;
    color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

/* Contenu principal */

.contenuPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

/* Gestion de la partie Hébergements */

.grid-hebergements {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    margin-bottom: 5px;
    gap: 20px;
  }

.buttonHebergements {
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    height: 280px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.50); 
}

.imgButton {
    height: 180px;
    width: 280px;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

.texteButtonHebergements {
    padding-top: 0;
    padding-left: 10px;
}

.afficherPlus {
    margin-top: 4em;
    font-size: large;
}

/* Gestion de la partie "Les plus populaires" */

.imgButtonPopulaires {
    padding: 5px;
    width: 225px;
    border-radius: 20px 0px 00px 20px;
}

.buttonPopulaires {
    
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 20px 20px 20px 20px;
    width: 450px;
    height: 220px;
    cursor: pointer;
    display: flex;
    text-align: space;
    padding-bottom: 5px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.50);
    margin-bottom: 20px;
}

.textButtonPopulaires {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notation {
    margin-top: 90px;
}

.populaires {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
