/* Reset CSS*/

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonctions générales */

h1, h2, h3, p, a {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    color: #252525;
    text-decoration: none;
}

h2 {
    font-size: large;
}

section {
    margin: 1em;
}

.fa-solid {
    color: #0065FC;
}

.fa-location-dot {
    color: black;
}

.fa-magnifying-glass {
    color: white;
}

/* Entête du site */

.entete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1em;
    margin-bottom: 3em;
}

.logo img {
    width: 50%;
    height: 50%;
    margin-top: 34px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.lienMenu {
    padding-right: 1em;
}

.lienMenu a {
    padding-top: 15px;
    font-size: 18px;
}

/* Section recherche */

.recherche {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 3px;
}

.containerFiltre {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    margin-right: 5px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: large;
    margin-top: 20px;
}

 /* Barre de recherche avec saisie de texte */

 input[type="text"] {
    margin: 1em;
    border: none;
    width: 332px;
    height: 30px;
}

/* Apparence des boutons */
  
.buttonSearch[type="submit"]{
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 10px;
    cursor: pointer;
}

.buttonSearchMobile {
    display: none;
}

.buttonFiltre{
    margin: 1em;
    background-color: white;
    font-size: 1em;
    font-weight: 700;
    border: 2px solid #D9D9D9;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.buttonInfo{
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 0;
    margin-top: 5px;
    margin-right: 15px;
}

/* Comportement des boutons au survol */

nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.buttonSearch:hover {
    background-color: white;
    color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
}

button:hover {
    background-color: #DEEBFF;
    border: 1px solid #0065FC;
}

.afficherPlus a:hover {
    border-top: 0;
    border-bottom: 2px solid #252525;
}

/* Contenu principal */

.contenuPrincipal {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 0;
}

/* Partie Hébergements */

.mainHebergement {
    margin: 0;
    display: flex;  
    justify-content: space-between;
}

.containerHebergement {
    width: 100%; 
    padding: 40px;
    border-radius: 30px;
  }

.boxCardHebergement{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.cardHebergement {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
    margin: 15px 0;
    width: 32%;
    height: 215px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.25);
}

.cardImageHebergement img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 110px;
    width: 265px;
    
}

.cardContentHebergement {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1em;
    padding-bottom: 5px;
}

.afficherPlus {
    padding-top: 50px;
    font-weight: bold;
}

/* Gestion de la partie "Les plus populaires" */

.mainPopulaire {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px;
    border-radius: 30px;
}

.titrePopulaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
}

.boxCardPopulaire {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.cardPopulaire {
    display: flex;
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
    width: 85%;
    height: 170px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.25);
    margin-bottom: 5px;
  }
  
  .cardImagePopulaire img {
    height: 180px;
    max-width: 120px;
    width: 100%;
    object-fit: cover;
}
  
.cardContentPopulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 60%;
}


/* Gestion de la partie Activité */

.containerActivite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5em;
}

.cardActivite {
    width: 100%;
    margin: 10px;
}

.cardImageActivite {
    max-width: 240px;
    height: 320px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

figcaption {
    padding-left: 16px;
    margin-top: 5%;
    font-size: 80%;
    font-weight: 600;
}

/* Pied de page */

.piedDePage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 3em;
}

.cardFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Adaptation pour desktop */

@media (min-width: 1401px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
      }
}

/* Adaptation fenetre desktops */

@media (min-width: 992px) and (max-width: 1039px) {

    .cardContentHebergement h2 {
        font-size: medium;
    }

    .cardContentHebergement p {
        font-size: small;
    }

    .cardContentPopulaire h2 {
        font-size: medium;
    }

    .cardContentPopulaire p {
        font-size: small;
    }

    .fa-star {
        font-size: 70%;
    }
}

/* Adaptation pour les tablette */

@media screen and (min-width: 768px) and (max-width: 991px) {

/* Général */

    section {
        margin: 1%;
    }

/* Menu de recherche */    

    .filtres {
        display: flex;
        justify-content: flex-start;
    }

    .buttonFiltre {
        padding: 15px;
    }

/* Contenu principal */    

    .contenuPrincipal {
        display: flex;
        flex-direction: column;
    }

/* Partie hébergement */

    .cardImageHebergement img {
        width: 100%;
    }

/* Patie Populaire */    

    .mainPopulaire {
        width: 90%;
        margin: 0;
    }

    .boxCardPopulaire {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

/* Partie Activité */

    .containerActivite a {
        margin: 1%;
        margin-bottom: 5em;
    }

/* Partie Pied de page */    

    .piedDePage {
        margin-bottom: 3em;
    }
}

/* Adaptation pour smartphone */

@media (max-width: 767px) {

    body {
        width: 100%;
    }

    section {
        text-align: left;
    }

    /* Entête */

    .entete {
        flex-direction: column;
        margin: 0;
    }

    .entete nav {
        width: 100%;
        display: flex;
        justify-content: center; 
    }

    .menu {
        width: 100%;
        justify-content: space-around;
        margin: 10px;
    }

    .logo {
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
    }

    .lienMenu{
        justify-content: space-around;
        font-size: medium;
    }

    .lienMenu {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1em;
    }


    .lienMenu:hover {
        color: #0065FC;
        border-top: 0;
        border-bottom: 3px solid #0065FC;
    }

    nav a:hover {
        border-top: 0;
    }

    

    /* Partie recherche */

    .recherche {
        width: 100%;
        justify-content: center;
    }

    .recherche form {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .fa-location-dot {
        font-size: 1.4em;
    }

    input[type="text"] {
        margin: 1em;
        border: none;
        max-width: 332px;
        width: 100%;
        height: 50px;
        font-weight: 700;
        font-size: 100%;
        text-align: center;
    }

    button.buttonSearch {
        display: none;
    }

    .buttonSearchMobile {
        display: inline;
        background-color: #0065FC;
        border: none;
        border-radius: 0 15px 15px 0;
        padding: 5%;
        cursor: pointer;
    }

    .buttonSearchMobile:hover {
        background-color: #D9D9D9;
        color: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0 15px 15px 0;
    }

    .menuRecherche {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .containerFiltre {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1%;
        margin: 0;
    }
    .boxFiltre {
       display: flex;
       flex-direction: row;
       justify-content: center;
       width: 100%;
       
     }

    .filtre {
        display: grid;
        grid-template-columns: repeat(2, 90%);
        gap: 5%;
        justify-content: center;
    }

    .buttonFiltre {
        width: 100%;
        font-size: 75%;
        text-align: left;
        padding: 4%;
        padding-left: 15px;
        margin: 0;
    }

    /* Contenu principal */

    .contenuPrincipal {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    /* Partie populaire */

    .mainPopulaire {
        width: 90%;
        justify-content: center;
    }

    .boxCardPopulaire {
        align-items: center;
    }

    .cardPopulaire {
        width: 80%;
    }

    .cardImagePopulaire {
        width: 60%;
    }

    .cardImagePopulaire img {
       width: 100%;
       height: 170px;
       max-width: 250px;
       object-fit: cover;
    }

    /* Partie hébergement */

    .mainHebergement {
        margin: 1em;
        width: 90%;
    }

    .containerHebergement {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .boxCardHebergement {
        flex-direction: column;
        align-items: center;
    }
    
    .cardHebergement {
        width: 80%;
    }

    .cardImageHebergement img {
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .afficherPlus {
        display: none;
    }

    /* Partie Activité */

    .boxActivite {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .containerActivite {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .cardActivite {
        width: 80%;
        object-fit: cover;
        margin-left: 1em;
    }

    .cardImageActivite {
        max-height: 180px;
        max-width: 550px;
        width: 100%;
    }

    /* Pied de page */

    .piedDePage {
        flex-direction: column;
    }

    .cardFooter {
        margin: 0;
        margin-bottom: 15px;
        padding-left: 5em;
    }
}

/* Adaptation des cartes pour petits écrans smartphone */

@media (max-width: 643px) {

    .buttonFiltre {
        font-size: 60%;
        
    }
}

@media (max-width: 396px) {

    .filtre {
        grid-template-columns: repeat(2, 95%);
    }

    .buttonFiltre {
        font-size: 60%;
        padding: 1%;
    }
}